* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    // Cores
    --btn-primary-color: #16A34A;
    --btn-secondary-color: #2563EB;
    --title: #1F2937;
    --subtitle: #4B5563;
    --backgroung-box: #F3F5F8;
    --background: #F0FDF4;

    // Fontes

    // Nome e tipo da fonte
    --font-p-h1-h2: 'Poppins', sans-serif;
    --font-h3--h5: 'Inter', sans-serif;

    // Tamanho da fonte
    --font-size-p: 16px;
    --font-size-h1-h2:40px;
    --font-size-h3: 25px;
    --font-size-h4: 20px;
    --font-size-h5: 14px;
}

//Padrão de tamanho de fonte
body {
    h1{
        font-family: var(--font-p-h1-h2);
        font-size: 60px;
        line-height: 130%;
        color: var(--title);
    }

    h2 {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-h1-h2);
        font-weight: bold;
        color: var(--title);
    }

    h3 {
        font-family: var(--font-h3--h5);
        font-size: var(--font-size-h3);
        font-weight: normal;
        color: var(--subtitle);
    }

    h4 {
        font-family: var(--font-h3--h5);
        font-size: var(--font-size-h4);
        font-weight: 400;
    }

    p {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
    }

}

// Header
header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    margin: 2rem 2.3rem;
    margin-bottom: 0;

    // Caixa do logo como um todo
    .logo {
        height: 8.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        // Logo da Recicla Tech
        img {
            height: 36px;
            width: 36px;
        }

        //  Escrita do logo da Recicla Tech
        span {
            font-family: var(--font-p-h1-h2);
            font-weight: bold;
            font-size: 31.76px;
            color: var(--title);
            height: 42.3px;
            font-size: 31.76px;
            align-items: center;
        }
    }

    // Menu de navegação
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        text-wrap: nowrap;
        gap: 33px;
        
        a {
            text-decoration: none;
            font-family: var(--font-p-h1-h2);
            font-size: var(--font-size-p);
            color: #4B5563;
        }

        #btnComeçarAgora {
            background-color: var(--btn-primary-color);
            color: #FFFFFF;
            padding: 20px 30px; // Top/bottom e left/right
            border: solid 1px var(--btn-primary-color);
            border-radius: 6px;

            &:hover {
                background-color: #21C05C;
                border: 1px #21C05C
            }
        }
    }
}

// Divisória de sections
hr {
    border: none;
    height: 1px;
    background-color: #B4AEAE;
    margin: 17px 2rem;
}

// Section Hero
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5rem 3rem; 

    // Texto principal
    h1 {
        font-size: 60px;
        line-height: 130%;
    }

    // Texto secundário/legenda
    h4 {
        color: var(--subtitle);
    }

    // Imagem principal da section
    .mainImgHero {
        display: inline-block;
        height: 10rem;
        width: 10rem;
    }

    // Botões da section
    button {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 24px;
            width: 24px;
        }
    }

    .textoBtnHero {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .btnsHero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row nowrap;
        width: 35vw;
    }

    // Botão 'Quero Doar'
    #btnDoar {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        padding: 1rem 2rem;
        background-color: var(--btn-primary-color);
        border: solid 1px var(--btn-primary-color);
        border-radius: 6px;
        color: #FFFFFF;

        &:hover {
            background-color: #21C05C;
            border: 1px #21C05C;
        }
    }

    // Botão 'Quero Adquirir'
    #btnAdquirir {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        padding: 1rem 2rem;
        background-color: #FFFFFF;
        border: solid 1px var(--btn-secondary-color);
        border-radius: 6px;
        color: var(--btn-secondary-color);
    }
}

// Banner com dados estatísticos
#dados {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    padding: 5vh 7vw;
    background-color: var(--backgroung-box);

    // Cada caixa de dado estatístico
    span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // Dado estatístico
    h2 {
        font-family: var(--font-p-h1-h2);
        font-size: 40px;
        font-weight: bold;
        color: var(--btn-primary-color);
    }

    // Legenda do dado estatístico
    p {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        color: var(--subtitle);
    }
}

// Section Como Funciona?
#comoFunciona {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5rem;

    // Conjunto título e subtítulo da section 
    span {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 4rem;
    }

    // Subtítulo da section
    h3 {
        color: var(--title);
    }

    //// Estilo dos Cards da section

    .conjuntoCardsComoFunciona {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    // Padrão para Cards da section 'como-funciona'

    .cardComoFunciona {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        background-color: var(--backgroung-box);
        border-radius: 8px;
        padding: 2rem;
        height: 481px;
        width: 491px;

        // Padrão para títulos dos cards
        .titleCardComoFunciona {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
        }

        // Padrão Card do parágrafo/subtítulo
        p {
            color: var(--subtitle);
        }

        // Padrão Card da lista numérica
        ol {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            // list-style-image: url(./icons/como-funciona/itens/verde.png);

            li {
                font-family: var(--font-p-h1-h2);
                font-size: var(--font-size-p);
                color: var(--subtitle);

                strong {
                    color: #09090B;
                }
            }
        }
    }

    /// Especificidades de cada Card:

    // Título card 'Para Doadores'
    #titleDoadoresCard {
        h3 {
            color: var(--btn-primary-color);
        }
    }

    // Título card 'Para Adquirentes'
    #titleAdquirentesCard {
        h3 {
            color: var(--btn-secondary-color);
        }
    }
}

// Section para Adquirir os produtos
#adquirir {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5rem;
    background-color: var(--backgroung-box);

    h3 {
        color: var(--subtitle);
    }

    img {
        width: 100%;
        height: 234px;
    }

    button {
        padding: 10px 30px;
        font-family: var(--font-h3--h5);
        font-size: var(--font-size-h5);
        font-weight: 300;
        background-color: var(--btn-primary-color);
        color: #FFFFFF;
        border: solid 1px var(--btn-primary-color);
        border-radius: 6px;
    }

    #titleSubtitleAdquirir {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 4rem;
    }

    #allCardsAdquirir {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        // justify-content: space-between;

    }

    .cardAdquirir {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        background-color: #FFFFFF;
        width: 295px;
        border: solid var(--btn-primary-color) 2px;
        border-radius: 8px;
        padding-bottom: 2rem;


        p {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            color: var(--subtitle);
        }
    }
    
    .cardNomeLegenda {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0 0.5rem
    }
}

// Section Formulário

#formulario {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1.5rem;
    width: 100vw;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h3 {
        color: var(--title);
    }

    .formContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        border: none;
        border-radius: 8px;
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        padding-top: 1rem;
    }

    legend {
        font-weight: bold;
        font-size: 20px;

    }

    div {
        display: flex;
        gap: 0.5rem;
        flex-direction: row;
        align-items: center;
        border: solid 1px var(--btn-primary-color);
        border-radius: 5px;
        padding: 0.5rem;
        background-color:#e9f2e8;
    }

    #btnCadastro {
        width: 10rem;
        align-self: center;
        padding: 10px 30px;
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        font-style: normal;
        background-color: var(--btn-primary-color);
        color: #FFFFFF;
        border: solid 1px var(--btn-primary-color);
        border-radius: 6px;

        &:hover {
            background-color: #21C05C;
            border: 1px #21C05C;
        }
    }

    #btnReset {
        width: 10rem;
        align-self: center;
        padding: 10px 30px;
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        font-style: italic;
        background-color: #FFFFFF;
        color: rgb(187, 2, 2);
        border: solid 1px rgb(187, 2, 2);
        border-radius: 6px;

        &:hover {
            background-color: rgb(255, 92, 92);
            border: 1px #FFFFFF;
            color: #FFFFFF;
        }
    }

    #botoesForm {
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding-top: 1rem;
    }

    input, select, option {
        border: none;
        border-bottom: #999a9b 1px solid;
        background-color: #e9f2e8;
        font-family: var(--font-size-h1-h2);
        width: auto;
    }
}

// Section Depoimentos

#depoimentos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem;
    width: 100vw;
    background-color: var(--backgroung-box);

    .iconStars {
        width: 7.5rem;
    }

    h2, h3 {
        display: flex;
        justify-content: center;
    }

    #conjuntoCardsDepoimentos {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .cardDepoimento {
        display: flex;
        flex-direction: column;
        border: solid 1px #9CA3AF;
        border-left: solid 4px #9CA3AF;
        background-color: #FFFFFF;
        border-radius: 8px;
        padding: 2rem 2.5rem;
        gap: 1rem;
        width: 21rem;
        height: auto;
    }

    p {
        color: var(--subtitle);
    }

    h5 {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-h5);
        font-weight: normal;
    }

    .iconeDepoimento {
        width: 2.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .infoUser {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem 0;
        
        span {
            display: flex;
            flex-direction: column;
            
            .nameUser {
                color: var(--title);
                font-weight: bolder;
            
            }

            .descriptionUser {
                color: var(--subtitle);
            }
        }
        
    }
}
