* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    // Cores
    --btn-primary-color: #16A34A;
    --btn-secondary-color: #2563EB;
    --title: #1F2937;
    --subtitle: #4B5563;
    --backgroung-box: #F3F5F8;
    --background: #F0FDF4;

    // Fontes

    // Nome e tipo da fonte
    --font-p-h1-h2: 'Poppins', sans-serif;
    --font-h3--h5: 'Inter', sans-serif;

    // Tamanho da fonte
    --font-size-p: 16px;
    --font-size-h1-h2:40px;
    --font-size-h3: 25px;
    --font-size-h4: 20px;
    --font-size-h5: 14px;
}

// Header
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 2rem 2.3rem;
    margin-bottom: 0;

    // Caixa do logo como um todo
    .logo {
        height: 8.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        // Logo da Recicla Tech
        img {
            height: 36px;
            width: 36px;
        }

        //  Escrita do logo da Recicla Tech
        span {
            font-family: var(--font-p-h1-h2);
            font-weight: bold;
            font-size: 31.76px;
            color: var(--title);
            height: 42.3px;
            font-size: 31.76px;
            align-items: center;
        }
    }

    // Menu de navegação
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 33px;
        a {
            text-decoration: none;
            font-family: var(--font-p-h1-h2);
            font-size: var(--font-size-p);
            color: #4B5563;
        }

        #btn_começar_agora {
            padding: 10px 30px;
            background-color: var(--btn-primary-color);
            color: #FFFFFF;
            padding: 20px 30px; // Top/bottom e left/right
            border: solid 1px var(--btn-primary-color);
            border-radius: 6px;

            &:hover {
                background-color: #21C05C;
                border: 1px #21C05C
            }
        }
    }
}

// Divisória de sections
hr {
    border: none;
    height: 1px;
    background-color: #B4AEAE;
    margin: 17px 2rem;
}

// Section Intro
#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.5rem;

    // Texto principal
    h1 {
        font-family: var(--font-p-h1-h2);
        font-size: 60px;
        line-height: 130%;
        color: var(--title);
    }

    // Texto secundário/legenda
    h4 {
        font-family: var(--font-h3--h5);
        font-size: var(--font-size-h4);
        font-weight: 400;
        color: var(--subtitle);
    }

    // Imagem principal da section
    .main-img-intro {
        display: inline-block;
        height: 424px;
        width: 410.17px;
    }

    // Botões da section
    button {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 24px;
            width: 24px;
        }
    }

    .texto-btn-intro {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .btns-intro {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border: solid;
    }

    // Botão 'Quero Doar'
    #btn-doar {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        padding: 1rem 2rem;
        background-color: var(--btn-primary-color);
        border: solid 1px var(--btn-primary-color);
        border-radius: 6px;
        color: #FFFFFF;

        &:hover {
            background-color: #21C05C;
            border: 1px #21C05C;
        }
    }

    // Botão 'Quero Adquirir'
    #btn-adquirir {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        padding: 1rem 2rem;
        background-color: #FFFFFF;
        border: solid 1px var(--btn-secondary-color);
        border-radius: 6px;
        color: var(--btn-secondary-color);
    }
}

// Banner com dados estatísticos
#dados {
    // revisar esse banner (!!!!!!!!!!!!!!!!!!!!)
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5vh 7vw;
    // border: solid 1px;
    background-color: var(--backgroung-box);

    // Cada caixa de dado estatístico
    span {
        display: flex;
        // border: solid 1px;
        flex-direction: column;
        align-items: center;
    }

    // Dado estatístico
    h2 {
        font-family: var(--font-p-h1-h2);
        font-size: 40px;
        font-weight: bold;
        color: var(--btn-primary-color);
    }

    // Legenda do dado estatístico
    p {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-p);
        color: var(--subtitle);

    }
}

// Section Como Funciona?
#como-funciona {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding: 10px 0;

    // Conjunto título e subtítulo da section 
    span {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 4rem;
    }

    // Título principal da section
    #title-como-funciona {
        font-family: var(--font-p-h1-h2);
        font-size: var(--font-size-h1-h2);
        font-weight: bold;
        color: var(--title);
    }

    // Subtítulo da section
    #subtitle-como-funciona {
        font-family: var(--font-h3--h5);
        font-size: var(--font-size-h3);
        font-weight: normal;
        color: var(--title);
    }

    //// Estilo dos Cards da section

    .conjunto-cards-como-funciona {
        display: flex;
        justify-content: space-between;
    }

    // Padrão para Cards da section 'como-funciona'

    .card-como-funciona {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        background-color: var(--backgroung-box);
        border-radius: 8px;
        padding: 2rem;
        height: 481px;
        width: 491px;
        

        h3 {
            font-family: var(--font-h3--h5);
            font-size: var(--font-size-h3);
            font-weight: normal;
        }

        .title-card-como-funciona {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
        }
        
        // Padrão Card do parágrafo/subtítulo
        p {
            font-family: var(--font-p-h1-h2);
            font-size: var(--font-size-p);
            color: var(--subtitle);
        }

        // Padrão Card da lista numérica
        ol {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            li {
                font-family: var(--font-p-h1-h2);
                font-size: var(--font-size-p);
                color: var(--subtitle);

                strong {
                    color: #09090B;
                }
            }
        }
    }

    // Especificidades de cada Card:

    // Card 'Para Doadores'
    #doadores-card {

        // Título do card + ícone
        #title-doadores-card {
            color: var(--btn-primary-color);
        }
    }

    #adquirentes-card {
 
        #title-adquirentes-card {
            color: var(--btn-secondary-color);
        }
    }
}