@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-primary-color: #16a34a;
  --btn-secondary-color: #2563eb;
  --title: #1f2937;
  --subtitle: #4b5563;
  --backgroung-box: #f3f5f8;
  --background: #f0fdf4;
  --font-p-h1-h2: "Poppins", sans-serif;
  --font-h3--h5: "Inter", sans-serif;
  --font-size-p: 16px;
  --font-size-h1-h2: 40px;
  --font-size-h3: 25px;
  --font-size-h4: 20px;
  --font-size-h5: 14px;
}

body h1 {
  font-family: var(--font-p-h1-h2);
  font-size: 60px;
  line-height: 130%;
  color: var(--title);
}
body h2 {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-h1-h2);
  font-weight: bold;
  color: var(--title);
}
body h3 {
  font-family: var(--font-h3--h5);
  font-size: var(--font-size-h3);
  font-weight: normal;
  color: var(--subtitle);
}
body h4 {
  font-family: var(--font-h3--h5);
  font-size: var(--font-size-h4);
  font-weight: 400;
}
body p {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
}
body button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3.75rem;
  padding: 4rem 2rem 2.3rem 2rem;
}
header .logo {
  height: 8.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
header .logo img {
  height: 36px;
  width: 36px;
}
header .logo span {
  font-family: var(--font-p-h1-h2);
  font-weight: bold;
  font-size: 31.76px;
  color: var(--title);
  height: 42.3px;
  font-size: 31.76px;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  text-wrap: nowrap;
  gap: 33px;
}
header nav a {
  text-decoration: none;
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  color: #4b5563;
}
header nav a:hover {
  color: #16a34a;
}
header nav #btnComeçarAgora {
  background-color: var(--btn-primary-color);
  color: #ffffff;
  padding: 20px 30px;
  border: solid 1px var(--btn-primary-color);
  border-radius: 6px;
}
header nav #btnComeçarAgora:hover {
  background-color: #21c05c;
  border: solid 1px #21c05c;
}

hr {
  border: none;
  height: 1px;
  background-color: #b4aeae;
  margin: 1rem 2rem;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 5rem 3rem;
}
#hero h1 {
  font-size: 60px;
  line-height: 130%;
}
#hero h4 {
  color: var(--subtitle);
}
#hero .mainImgHero {
  display: inline-block;
  height: 10rem;
  width: 10rem;
}
#hero button {
  display: flex;
  align-items: center;
  gap: 10px;
}
#hero button img {
  height: 24px;
  width: 24px;
}
#hero .textoBtnHero {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#hero .btnsHero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row nowrap;
  width: 35vw;
}
#hero #btnDoar {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  padding: 1rem 2rem;
  background-color: var(--btn-primary-color);
  border: solid 1px var(--btn-primary-color);
  border-radius: 6px;
  color: #ffffff;
}
#hero #btnDoar:hover {
  background-color: #21c05c;
  border: solid 1px #21c05c;
}
#hero #btnAdquirir {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  padding: 1rem 2rem;
  background-color: #ffffff;
  border: solid 1px var(--btn-secondary-color);
  border-radius: 6px;
  color: var(--btn-secondary-color);
}
#hero #btnAdquirir:hover {
  font-style: italic;
  text-decoration: underline;
}
#hero a {
  text-decoration: none;
  color: inherit;
}

#dados {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  padding: 5vh 7vw;
  background-color: var(--backgroung-box);
}
#dados span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dados h2 {
  font-family: var(--font-p-h1-h2);
  font-size: 40px;
  font-weight: bold;
  color: var(--btn-primary-color);
}
#dados p {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  color: var(--subtitle);
}

#comoFunciona {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5rem;
}
#comoFunciona span {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 4rem;
}
#comoFunciona h3 {
  color: var(--title);
}
#comoFunciona .conjuntoCardsComoFunciona {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
#comoFunciona .cardComoFunciona {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background-color: var(--backgroung-box);
  border-radius: 8px;
  padding: 2rem;
  height: 481px;
  width: 491px;
}
#comoFunciona .cardComoFunciona .titleCardComoFunciona {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
#comoFunciona .cardComoFunciona p {
  color: var(--subtitle);
}
#comoFunciona .cardComoFunciona ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#comoFunciona .cardComoFunciona ol li {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  color: var(--subtitle);
}
#comoFunciona .cardComoFunciona ol li strong {
  color: #09090b;
}
#comoFunciona #titleDoadoresCard h3 {
  color: var(--btn-primary-color);
}
#comoFunciona #titleAdquirentesCard h3 {
  color: var(--btn-secondary-color);
}

#adquirir {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5rem;
  background-color: var(--backgroung-box);
}
#adquirir h3 {
  color: var(--subtitle);
}
#adquirir img {
  width: 100%;
  height: 234px;
}
#adquirir button {
  padding: 10px 30px;
  font-family: var(--font-h3--h5);
  font-size: var(--font-size-h5);
  font-weight: 300;
  background-color: var(--btn-primary-color);
  color: #ffffff;
  border: solid 1px var(--btn-primary-color);
  border-radius: 6px;
}
#adquirir button:hover {
  background-color: #21c05c;
  border: solid 1px #21c05c;
}
#adquirir #titleSubtitleAdquirir {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 4rem;
}
#adquirir #allCardsAdquirir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
#adquirir .cardAdquirir {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  width: 295px;
  border: solid var(--btn-primary-color) 2px;
  border-radius: 8px;
  padding-bottom: 2rem;
}
#adquirir .cardAdquirir p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--subtitle);
}
#adquirir .cardNomeLegenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
}

#formulario {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 1.5rem;
  width: 100vw;
}
#formulario form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#formulario h3 {
  color: var(--title);
}
#formulario .formContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  border: none;
  border-radius: 8px;
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  padding-top: 1rem;
}
#formulario legend {
  font-weight: bold;
  font-size: 20px;
}
#formulario div {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  border: solid 1px var(--btn-primary-color);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #e9f2e8;
}
#formulario #btnCadastro {
  width: 10rem;
  align-self: center;
  padding: 10px 30px;
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  font-style: normal;
  background-color: var(--btn-primary-color);
  color: #ffffff;
  border: solid 1px var(--btn-primary-color);
  border-radius: 6px;
}
#formulario #btnCadastro:hover {
  background-color: #21c05c;
  border: 1px #21c05c;
}
#formulario #btnReset {
  width: 10rem;
  align-self: center;
  padding: 10px 30px;
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  font-style: italic;
  background-color: #ffffff;
  color: rgb(187, 2, 2);
  border: solid 1px rgb(187, 2, 2);
  border-radius: 6px;
}
#formulario #btnReset:hover {
  background-color: rgb(255, 92, 92);
  border: 1px #ffffff;
  color: #ffffff;
}
#formulario #botoesForm {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 1rem;
}
#formulario input,
#formulario select,
#formulario option,
#formulario #tipo {
  border: none;
  border-bottom: #999a9b 1px solid;
  background-color: #e9f2e8;
  font-family: var(--font-size-h1-h2);
  width: auto;
}
#formulario #imagens {
  color: var(--subtitle);
}

#depoimentos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  width: 100vw;
  background-color: var(--backgroung-box);
}
#depoimentos .iconStars {
  width: 7.5rem;
}
#depoimentos h2,
#depoimentos h3 {
  display: flex;
  justify-content: center;
}
#depoimentos #conjuntoCardsDepoimentos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 4rem;
}
#depoimentos .cardDepoimento {
  display: flex;
  flex-direction: column;
  border: solid 1px #9ca3af;
  border-left: solid 4px #9ca3af;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2rem 2.5rem;
  gap: 1rem;
  width: 22.5rem;
  height: auto;
}
#depoimentos p {
  color: var(--subtitle);
}
#depoimentos h5 {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-h5);
  font-weight: normal;
}
#depoimentos .iconeDepoimento {
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;
}
#depoimentos .infoUser {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0;
}
#depoimentos .infoUser span {
  display: flex;
  flex-direction: column;
}
#depoimentos .infoUser span .nameUser {
  color: var(--title);
  font-weight: bolder;
}
#depoimentos .infoUser span .descriptionUser {
  color: var(--subtitle);
}

#começarAgora {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 22.5rem;
  gap: 1.5rem;
  width: 100%;
}
#começarAgora h3 {
  color: var(--title);
}
#começarAgora div {
  padding-top: 1.5rem;
}
#começarAgora #btnComeçarAgora {
  padding: 10px 30px;
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  font-weight: 300;
  background-color: var(--btn-primary-color);
  color: #ffffff;
  border: solid 1px var(--btn-primary-color);
  border-radius: 6px;
}
#começarAgora #btnComeçarAgora:hover {
  background-color: #21c05c;
  border: solid 1px #21c05c;
}
#começarAgora #btnSaberMais {
  padding: 10px 30px;
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  font-weight: 300;
  background-color: #ffffff;
  color: var(--btn-primary-color);
  border: solid 1px var(--btn-primary-color);
  border-radius: 6px;
}
#começarAgora #btnSaberMais:hover {
  font-style: italic;
  text-decoration: underline;
}
#começarAgora div {
  display: flex;
  gap: 1.5rem;
}

#contato {
  display: flex;
  flex-direction: column;
  background-color: var(--title);
  color: #9ca3af;
}
#contato #logoFooter {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
}
#contato #logoFooter h4 {
  color: #ffffff;
  font-weight: bold;
}
#contato #conjuntoCardsFooter {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 5rem 2.5rem 1.5rem;
  gap: 6rem;
}
#contato .cardFooter {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
#contato .cardFooter .titleFooter {
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 1.5rem;
}
#contato ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#contato ul li {
  font-family: var(--font-p-h1-h2);
  font-size: var(--font-size-p);
  list-style: none;
}
#contato a {
  text-decoration: none;
  color: #9ca3af;
}
#contato span {
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem 0;
}
#contato .redesSociaisFooter {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */